<!DOCTYPE html>
<html>
    <head>
		<title>SSW Emotional</title>
        <meta charset="UTF-8">
		<meta name="author" content="Erin  Nicole A. Trinidad">
        <meta name="description" content="2nd Qtr Project">
		<meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="keywords" content="Potassium">
		<meta name="date" content="11-06-2021">
        <meta name="revised" content="12-30-2021">

		<link rel="icon" href="icon.png" type="image/png">
    </head>
    <style> 
        body {
            background-color: #231f20;
        }
        .definition {
            background-color: #efcfe3;
            width:auto;
            height:auto;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            min-height:170px;
            text-align: justify;
        }
        .example {
            background-color: #eaf2d7;
            width:auto;
            height:auto;
            padding: 20px;
            margin-bottom: 20px;
        }
        .nav {
            color: white;
            text-decoration: none;
        }
        .references {
            background-color: #efcfe3;
            width:auto;
            height:auto;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .ex {
            height:auto;
            border: 2px dotted black;
            text-align: justify;
            padding: 10px;
            min-height: 190px;
            margin-bottom: 10px;
        }
        #friends {
            float: right;
        }
        #gratitude {
            float: right;
        }
        #hobby {
            float: right;
        }
        #one {
            background-color: #b3dee2;
            animation-name: div1;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes div1 {
            0%  {background-color:#efcfe3;}
            50% {background-color:#efcfe3;}
        }
        #two {
            background-color: #efcfe3;
            animation-name: div2;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes div2 {
            0%  {background-color:#b3dee2;}
            50% {background-color:#b3dee2;}
        }
        h1 {
            text-align: center;
            font-family:monospace;
            color: #b3dee2;
            position:relative;
            animation-name: div3;
            animation-duration: 2s;
            animation-iteration-count: 3;
            animation-direction: alternate;
        }
        @keyframes div3 {
            0%   {color:#efcfe3; left:0px; top:-15px;}
            25%  {left:0px; top:15px;}
            50% {color:#eaf2d7; left: 0px; top:-15px;}
            75%  {left:0px; top:15px;}
            100% {left:0px; top:-15px;}
        }
        h3 {
            font-family: monospace;
        }
        img {
            float:left;
            position:relative;
            width: 160px; 
            height: auto;
            padding: 10px;
        }
        #frame {
            text-align: center;
        }
        .ref { 
            font-style:italic
        }
        footer {
            position:fixed;
            bottom: 0px;
            width: 100%;
            height: auto;  
            background:#b3dee2;
            margin-bottom: 0px;
            display: flex;
            justify-content: space-around;
        }
        #sprite {
            background: url('../images/sprite.png') no-repeat -307px -117px;
            width: 50px;
            height: 50px;
            position:relative;
            float:left;
            margin-left: 20px;
        }
        #sprite2 {
            background: url('../images/sprite.png') no-repeat -399px -376px;
            width: 50px;
            height: 50px;
            position:relative;
            float: left;
            margin-left: 20px;
        }
        #sprite3 {
            background: url('../images/sprite.png') no-repeat -214px -376px;
            width: 50px;
            height: 50px;
            position:relative;
            float:left;
            margin-left: 20px;
        }
        #sprite:hover{
            background: url('images/sprite.png') -122px -28px;
        }
        #sprite2:hover{
            background: url('images/sprite.png') -214px -288px;
	    }
        #sprite3:hover{
            background: url('images/sprite.png') -28px -288px;
        }
        #name {
            font-family: monospace;
            margin-left: 20px;
        }
    </style>
    <body>
        <header>
            <h1>Emotional Care</h1>
        </header>
        <nav>
            <a class="nav" href= "../index.html">home | </a>
            <a class="nav" href= "physical.html">physical | </a>
            <a class="nav" href= "psychological.html">psychological | </a>
            <a class="nav" href= "spiritual.html">spiritual | </a>
            <a class="nav" href= "social.html">social </a>
        </nav>
        <section class="definition">
                <img id="emotional" src="../images/emotional.png"> 
                <h3>What is Emotional Care and Why is it Important?</h3>
                <p>Emotional self-care is about becoming aware of what you are feeling, and identify which ones to maintain and control. It is a way of taking control of who you are. People who are emotionally healthy are able to cope with life's challenges. They can keep decide on problems objectively and bounce back from life's setbacks.</p>
        </section>
        <section class=example>
            <h3>How can Emotional Care be Practiced?</h3>
            <div class="ex" id="one">Talk to your friends
                <br/>
                <img id="friends" src="../images/friends.png">
                <br/>
                <p>Long-term loneliness may lead to reduced cognitive skills and depression. Talking to your friends about how you are coping with school and life makes you feel that you aren't alone. Talking to others gives you a sense of safety, belonging and security. It allows you to confide in others and let them confide in you.</p>
            </div>
            <div class="ex" id="two">Play sports
                <br/>
                <img id="sport" src="../images/sport.png">
                <br/>
                <p>Sports help you manage stress. Releasing all your pent up stress through physical activity will help you empty your system, making you feel relaxed and happier.  Exercising helps your body to release endorphins which are chemicals in your brain that relieve pain and stress. Even just a few minutes of exercise each day can help you feel calmer.</p>
            </div>
            <div class="ex" id="one">Practice gratitude
                <br/>
                <img id="gratitude" src="../images/gratitude.png">
                <br/>
                <p>Practicing gratitude makes you appreciate even the little things in life. It eventually changes all your negative thoughts into positive ones. It also helps you build strong relationships with others. Being thankful makes you feel that life is enjoyable and worth living.</p>
            </div>
            <div class="ex" id="two">Take naps.
                <br/>
                <img id="nap" src="../images/nap.png">
                <br/>
                <p>Sleep is very important in order for our bodies to be healthy. Poor sleep leads to stress and anger. Chronic insomnia may increase your risk of developing anxiety and depression. Taking naps after doing exhausting activities will enhance your well-being and will help you do work in a better mood. </p>
            </div>
            <div class="ex" id="one">Take naps.
                <br/>
                <img id="hobby" src="../images/hobby.png">
                <br/>
		<p>Spending time on activities you enjoy can improve your mental health and well-being. Doing your hobbies will lower your stress levels, brighten your mood, and lower your risk for depression. It can make you feel happier and more relaxed. Hobbies that include lots of social interaction like team sports can improve your communication skills and relationships with others.</p>
		</div>
        </section>
        <section class="references">
                <h3>References:</h3>
                <p class="ref">5 Minute Self-Care Ideas. Journals of Discovery.  [Illustration] (n.d.). Pinterest.https://www.pinterest.ph/pin/18788523435613465/</p>
                <p class="ref">Australian Government Department of Health. (n.d.). Purposeful activity - Hobbies. Head to Health. https://www.headtohealth.gov.au/meaningful-life/purposeful-activity/hobbies</p>
                <p class="ref">Benefits of Sports for Mental Health. (2021, March 25). WebMD. https://www.webmd.com/mental-health/benefits-of-sports-for-mental-health</p>
                <p class="ref">Emotional. [Icon] (n.d.). Flaticon. https://www.flaticon.com/premium-icon/reaction_2161500?term=emotional&page=1&position=3&page=1&position=3&related_id=2161500</p>
                <p class="ref">Sleep and Mood | Need Sleep. (n.d.). Harvard. https://healthysleep.med.harvard.edu/need-sleep/whats-in-it-for-you/mood</p>
                <p class="ref">The Self Care Kit. Vanessa Chau | Mental Health. [Illustration] (n.d.). Pinterest. https://www.pinterest.ph/pin/683280574705033726/ </p>
        </section>
                <br/>
        <footer> <p id=name> website made by K26 Erin Nicole A. Trinidad </p> 
		<a id="sprite" href="https://www.instagram.com/artsyaffirmations/?hl=en"></a><p>@artsyaffirmations</p>
		<a id="sprite2" href= "https://www.youtube.com/c/ChloeTing/featured"></a><p>@Chloe Ting</p> 
		<a id="sprite3" href="https://twitter.com/tinycarebot"></a> <p>@tinycarebot</p></footer>
</body>
</html> 
