<!DOCTYPE html>
<html>
    <head>
		<title>SSW Psychological</title>
        <meta charset="UTF-8">
		<meta name="author" content="Erin  Nicole A. Trinidad">
        <meta name="description" content="2nd Qtr Project">
		<meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="keywords" content="Potassium">
		<meta name="date" content="11-06-2021">
        <meta name="revised" content="02-03-2021">

		<link rel="icon" href="icon.png" type="image/png">
    </head>
    <style> 
        body {
            background-color: #231f20;
        }
        .definition {
            background-color: #eaf2d7;
            width:auto;
            height:auto;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            min-height:170px;
            text-align: justify;
        }
        .example {
            background-color: #efcfe3;
            width:auto;
            height:auto;
            padding: 20px;
            margin-bottom: 20px;
        }
        .nav {
            color: white;
            text-decoration: none;
        }
        .references {
            background-color: #eaf2d7;
            width:auto;
            height:auto;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .ex {
            height:auto;
            border: 2px dotted black;
            text-align: justify;
            padding: 10px;
            min-height: 190px;
            margin-bottom: 10px;
        }
        #read {
            float: right;
        }
        #detox {
            float: right;
        }
        #art {
            float: right;
        }
        #one {
            background-color: #c3b1e1;
            animation-name: div1;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes div1 {
            0%  {background-color:#eaf2d7;}
            50% {background-color:#eaf2d7;}
        }
        #two {
            background-color: #eaf2d7;
            animation-name: div2;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes div2 {
            0%  {background-color:#c3b1e1;}
            50% {background-color:#c3b1e1;}
        }
        h1 {
            text-align: center;
            font-family:monospace;
            color: #c3b1e1;
            position:relative;
            animation-name: div3;
            animation-duration: 2s;
            animation-iteration-count: 3;
            animation-direction: alternate;
        }
        @keyframes div3 {
            0%   {color:#efcfe3; left:0px; top:-15px;}
            25%  {left:0px; top:15px;}
            50% {color:#eaf2d7; left: 0px; top:-15px;}
            75%  {left:0px; top:15px;}
            100% {left:0px; top:-15px;}
        }
        h3 {
            font-family: monospace;
        }
        img {
            float:left;
            position:relative;
            width: 160px; 
            height: auto;
            padding: 10px;
        }
        #frame {
            text-align: center;
        }
        .ref { 
            font-style:italic
        }
        footer {
            position:fixed;
            bottom: 0px;
            width: 100%;
            height: auto;  
            background:#c3b1e1;
            margin-bottom: 0px;
            display: flex;
            justify-content: space-around;
        }
        #sprite {
            background: url('../images/sprite.png') no-repeat -307px -117px;
            width: 50px;
            height: 50px;
            position:relative;
            float:left;
            margin-left: 20px;
        }
        #sprite2 {
            background: url('../images/sprite.png') no-repeat -399px -376px;
            width: 50px;
            height: 50px;
            position:relative;
            float: left;
            margin-left: 20px;
        }
        #sprite3 {
            background: url('../images/sprite.png') no-repeat -214px -376px;
            width: 50px;
            height: 50px;
            position:relative;
            float:left;
            margin-left: 20px;
        }
        #sprite:hover{
            background: url('../images/sprite.png') -122px -28px;
        }
        #sprite2:hover{
            background: url('../images/sprite.png') -214px -288px;
	    }
        #sprite3:hover{
            background: url('../images/sprite.png') -28px -288px;
        }
        #name {
            font-family: monospace;
            margin-left: 20px;
        }
    </style>
    <body>
        <header>
            <h1>Psychological Care</h1>
        </header>
        <nav>
            <a class="nav" href= "index.html">home | </a>
            <a class="nav" href= "physical.html">physical | </a>
            <a class="nav" href= "emotional.html">emotional | </a>
            <a class="nav" href= "spiritual.html">spiritual | </a>
            <a class="nav" href= "social.html">social </a>
        </nav>
        <section class="definition">
                <img id="psychological" src="../images/psychological.png"> 
                <h3>What is Psychological Care and Why is it Important?</h3>
                <p>Psychological self-care involves learning, thinking, and growing.  Small acts of psychological self-care can have a big impact in your life. It aims to keep your thoughts and emotions in the best state so you can live your life to the fullest. People with better psychological well-being are more more likely to live healthier, happier, and longer lives.</p>
        </section>
        <section class=example>
            <h3>How can Psychological Care be Practiced?</h3>
            <div class="ex" id="one">Read a book
                <br/>
                <img id="read" src="../images/read.png">
                <br/>
                <p>Reading is a cognitive activity which is also enjoyable. Reading works your brain and prevents memory loss. Reading a book that interests you is also believed to reduce your stress levels as it gives you the ability to escape from the real world. Reading gets you immersed in that world which makes you forget your worries.</p>
            </div>
            <div class="ex" id="two">Try learning a new skill
                <br/>
                <img id="skill" src="../images/skill.png">
                <br/>
                <p>Learning a new skill keeps you healthy as it keeps your mind and body active. It helps beat boredom and gives you motivation as it is something new and interesting to you. You may try learning an instrument, learning how to knit, or even try learning how to dance.</p>
            </div>
            <div class="ex" id="one">Social media detox
                <br/>
                <img id="detox" src="../images/detox.png">
                <br/>
                <p>Taking a break from social media will give you more time to learn about yourself. It makes you aware of your thoughts and feelings, and being present in the moment. This gives you the opportunity to move more because people are often sitting when online. Social media detox also allows you to have more time to sleep.</p>
            </div>
            <div class="ex" id="two">Do journaling
                <br/>
                <img id="journaling" src="../images/journaling.png">
                <br/>
                <p>Journaling is a healthy way to express yourself when you feel overwhelming emotions. It can help you keep track of your mood, identify your negative thoughts, and concerns to control them better. Journaling helps manage anxiety, reduce stress, cope with depression. </p>
            </div>
            <div class="ex" id="one">Make an arts and crafts project
                <br/>
                <img id="art" src="../images/art.png">
                <br/>
                <p>Art helps you express yourself. Making art enables you to communicate by drawing on your unique emotions, thoughts and experiences. When you finish an artwork, you feel a boost of confidence and a sense of accomplishment.</p>
            </div>
        </section>
        <section class="references">
                <h3>References:</h3>
                <p class="ref">5 Tips to Practice Self-Care. [Illustration] (n.d.). Social Pakora. https://socialpakora.com/5-tips-to-practice-self-care/</p>
                <p class="ref">Art is for Everyone: The Benefits of Art. (n.d.). Seminole State College. https://www.seminolestate.edu/art/art-benefits</p>
                <p class="ref">Journaling for Mental Health - Health Encyclopedia - University of Rochester Medical Center. (n.d.). University of Rochester Medical Center. https://www.urmc.rochester.edu/encyclopedia/content.aspx?ContentID=4552&ContentTypeID=1</p>
                <p class="ref">Morin, A. (2020, April 17). Simple Ways to Improve Your Psychological Well-Being. Verywell Mind. https://www.verywellmind.com/improve-psychological-well-being-4177330</p>
                <p class="ref">Psychological. [Icon] (n.d.). Flaticon. https://www.flaticon.com/premium-icon/brain_2959056?term=psychological&page=1&position=4&page=1&position=4&related_id=2959056&origin=search</p>
                <p class="ref">The Self Care Kit. Vanessa Chau | Mental Health. [Illustration] (n.d.). Pinterest. https://www.pinterest.ph/pin/683280574705033726/ </p>
                <p class="ref">Timmins, S. (2019, August 9). Why reading can be good for mental health. MHFA Portal. https://mhfaengland.org/mhfa-centre/blog/reading-good-mental-health/</p>
        </section>
        <br/>
        <footer> <p id=name> website made by K26 Erin Nicole A. Trinidad </p> 
		<a id="sprite" href="https://www.instagram.com/artsyaffirmations/?hl=en"></a><p>@artsyaffirmations</p>
		<a id="sprite2" href= "https://www.youtube.com/c/ChloeTing/featured"></a><p>@Chloe Ting</p> 
		<a id="sprite3" href="https://twitter.com/tinycarebot"></a> <p>@tinycarebot</p></footer>
</body>
</html>
