<!DOCTYPE html>
<html>
    <head>
		<title>SSW Social</title>
        <meta charset="UTF-8">
		<meta name="author" content="Erin  Nicole A. Trinidad">
        <meta name="description" content="2nd Qtr Project">
		<meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="keywords" content="Potassium">
		<meta name="date" content="11-06-2021">
        <meta name="revised" content="02-03-2021">

		<link rel="icon" href="icon.png" type="image/png">
    </head>
    <style> 
        body {
            background-color: #231f20;
        }
        .definition {
            background-color: #efcfe3;
            width:auto;
            height:auto;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            min-height:170px;
            text-align: justify;
        }
        .example {
            background-color: #eaf2d7;
            width:auto;
            height:auto;
            padding: 20px;
            margin-bottom: 20px;
        }
        .nav {
            color: white;
            text-decoration: none;
        }
        .references {
            background-color: #efcfe3;
            width:auto;
            height:auto;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .ex {
            height:auto;
            border: 2px dotted black;
            text-align: justify;
            padding: 10px;
            min-height: 190px;
            margin-bottom: 10px;
        }
        #pet {
            float: right;
        }
        #socialmedia {
            float: right;
        }
        #celebrate {
            float: right;
        }
        #one {
            background-color: #b3dee2;
            animation-name: div1;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes div1 {
            0%  {background-color:#efcfe3;}
            50% {background-color:#efcfe3;}
        }
        #two {
            background-color: #efcfe3;
            animation-name: div2;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes div2 {
            0%  {background-color:#b3dee2;}
            50% {background-color:#b3dee2;}
        }
        h1 {
            text-align: center;
            font-family:monospace;
            color: #b3dee2;
            position:relative;
            animation-name: div3;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes div3 {
            0%   {color:#efcfe3; left:0px; top:-15px;}
            25%  {left:0px; top:15px;}
            50% {color:#eaf2d7; left: 0px; top:-15px;}
            75%  {left:0px; top:15px;}
            100% {left:0px; top:-15px;}
        }
        h3 {
            font-family: monospace;
        }
        img {
            float:left;
            position:relative;
            width: 160px; 
            height: auto;
            padding: 10px;
        }
        #frame {
            text-align: center;
        }
        .ref { 
            font-style:italic
        }
        footer {
            position:fixed;
            bottom: 0px;
            width: 100%;
            height: auto;  
            background:#b3dee2;
            margin-bottom: 0px;
            display: flex;
            justify-content: space-around;
        }
        #sprite {
            background: url('../images/sprite.png') no-repeat -307px -117px;
            width: 50px;
            height: 50px;
            position:relative;
            float:left;
            margin-left: 20px;
        }
        #sprite2 {
            background: url('../images/sprite.png') no-repeat -399px -376px;
            width: 50px;
            height: 50px;
            position:relative;
            float: left;
            margin-left: 20px;
        }
        #sprite3 {
            background: url('../images/sprite.png') no-repeat -214px -376px;
            width: 50px;
            height: 50px;
            position:relative;
            float:left;
            margin-left: 20px;
        }
        .icons a:hover:before {
            transform:rotate(360deg);
            border-radius: 100%
        }
        #name {
            font-family: monospace;
            margin-left: 20px;
        }
    </style>
    <body>
        <header>
            <h1>Social Care</h1>
        </header>
        <nav>
            <a class="nav" href= "../index.html">home | </a>
            <a class="nav" href= "physical.html">physical | </a>
            <a class="nav" href= "psychological.html">psychological | </a>
            <a class="nav" href= "emotional.html">emotional | </a>
            <a class="nav" href= "spiritual.html">spiritual | </a>
        </nav>
        <section class="definition">
                <img id="social" src="../images/social.png"> 
                <h3>What is Social Care and Why is it Important?</h3>
                <p>Social self-care involves our connections with other people as humans are social beings. Social self-care helps us maintain a healthy relationship with ourselves to extend it to others. Social self-care aims for you to build strong connections and emotional bonds with friends and family. It also aims for you to communicate well with other people verbally, mentally, and physically.</p>
        </section>
        <section class=example>
            <h3>How can Social Care be Practiced?</h3>
            <div class="ex" id="one">Spend time with your pet
                <br/>
                <img id="pet" src="../images/pet.png">
                <br/>
                <p>Pets are known for giving their owners companionship. People have also discovered that they also help their owners built relationships with other people. This would happen as people would bond over their pets.</p>
            </div>
            <div class="ex" id="two">Join clubs  
                <br/>
                <img id="club" src="../images/club.png">
                <br/>
                <p>Joining clubs you are interested in will make you meet people that have that same interest. It is easier to make friends with people you have something in common with. Clubs would often have team-building activities which will help you to interact and cooperate with your fellow club members.</p>
            </div>
            <div class="ex" id="one">Follow positive people on social media 
                <br/>
                <img id="socialmedia" src="../images/socialmedia.png">
                <br/>
                <p>Social media helps you overcome the distance and time barriers.  Social media allows you to connect and reconnect with others.Those positive people you follow will set as examples for you. Positive people also make you feel more comfortable in social media.</p>
            </div>
            <div class="ex" id="two">Talk to your friends
                <br/>
                <img id="talk" src="../images/talk.png">
                <br/>
                <p>Your friends give you a sense of belonging. Your friends also introduce you to other people. Talking to them makes you happy and reduces your stress. They also improve your self-confidence and self-worth. </p>
            </div>
            <div class="ex" id="one">Celebrate the success of others
                <br/>
                <img id="celebrate" src="../images/celebrate.png">
                <br/>
                <p>Celebrating someone else's success makes you selfless and considerate of other people's feelings. It shows how you care about that person and that want to maintain the bond you have with them. It even motivates you to strive for your own personal success.</p>
            </div>
        </section>
        <section class="references">
                <h3>References:</h3>
                <p class="ref">5 Minute Self-Care Ideas. Journals of Discovery.  [Illustration] (n.d.). Pinterest.https://www.pinterest.ph/pin/18788523435613465/</p>
                <p class="ref">5 Tips to Practice Self-Care. [Illustration] (n.d.). Social Pakora. https://socialpakora.com/5-tips-to-practice-self-care/</p>
                <p class="ref">Friendships: Enrich your life and improve your health. (2022, January 12). Mayo Clinic. https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/friendships/art-20044860?reDate=02022022</p>
                <p class="ref">People. [Icon] (n.d.). Flaticon. https://www.flaticon.com/premium-icon/people_2994337?term=people&page=1&position=16&page=1&position=16&related_id=2994337&origin=search</p>
                <p class="ref">Skerrett, P. J. (2015, May 6). Pets can help their humans create friendships, find social support. Harvard Health. https://www.health.harvard.edu/blog/pets-can-help-their-humans-create-friendships-find-social-support-201505067981</p>
                <p class="ref">Haughty Chicken. [Illustration]. (2021, May 12). Twitter. https://twitter.com/haughtychicken/status/1392338437907251204</p>
                <p class="ref">What is Social Self in Psychology? Complete Guide. (2020, July 8). Sapien Labs | Neuroscience | Human Brain Diversity Project. https://sapienlabs.org/mentalog/what-is-social-self/</p>
        </section>
        <br/>
        <footer> <p id=name> website made by K26 Erin Nicole A. Trinidad </p>
            <br/> <a class="icons" id="sprite" href="https://www.instagram.com/artsyaffirmations/?hl=en"></a><p>@artsyaffirmations</p> <a class="icons" id="sprite2" href= "https://www.youtube.com/c/ChloeTing/featured"></a><p>@Chloe Ting</p> <a class="icons" id="sprite3" href="https://twitter.com/tinycarebot"></a> <p>@tinycarebot</p></footer>
    </body>
</html> 